.ou{
  display: flex;
  font-size: 16px;
  color: var(--cinza-escuro-darkTheme);
  font-weight: bold;
}

.ou hr{
  width: 30%;
  height: 1px;
  margin: auto;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background: var(--gradiente-roxo-vermelho);

  background-blend-mode: darken, normal;
  transition: all 2s ease-in-out;
}

.topDetail{
  position: relative;
  top: 20px;
  width: 30%;
  height: 40px;
  margin: 0 auto;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0 0 0 6px #171717;
  z-index: 0;
}

.defaultBg{
  background: white;
  border-radius: 30px;
  box-shadow: 0 0 0 6px #171717;
  z-index: 1;
}

.trainer{
  width: 55vw;
  margin: 0 auto;
  padding: 30px 40px;
  border-radius: 30px;
  box-shadow: inset 0px 0px 0px 8px var(--trainer-color-1);
}

.trainer h2{
  margin-top: 0px;
  font-size: 36px;
  font-weight: normal;
}

.formLogin{
  display: flex;
}

.inputText{
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid var(--cinza-escuro-darkTheme);
  padding: 0 20px;

  font-size: 28px;
}

.inputText:focus{
  outline: none;
}

.formLogin .inputText{
  width: 100%;
  margin-right: 20px;
  margin-left: 0;
  display: flex;
}

.buttonDefault{
  padding: 12px 40px;
  font-size: 28px;
  border-radius: 10px;
  background-color: var(--trainer-color-2);
  color: var(--cinza-claro-whiteTheme);
  border: none;

  cursor: pointer;
  transition: .2s;
}

.buttonDefault:hover{
  background-color: var(--trainer-color-1);
}

.buttonDefaultSmall{
  padding: 10px 30px;
  font-size: 18px;
  border-radius: 10px;
  background-color: var(--trainer-color-2);
  color: var(--cinza-claro-whiteTheme);
  border: none;

  cursor: pointer;
  transition: .2s;
}

.buttonDefaultSmall:hover{
  background-color: var(--trainer-color-1);
}

.formLogin{
  margin-top: 20px;
  margin-bottom: 20px;
}

.formLogin .inputText{
  margin-top: 0;
}

.newTrainerButton{
  margin-top: 20px;
  padding: 12px 40px;
  width: 100%;
  font-size: 28px;
  border-radius: 10px;
  background-color: var(--trainer-color-2);
  color: var(--cinza-claro-whiteTheme);
  border: none;

  cursor: pointer;
  transition: .2s;
}

.newTrainerButton:hover{
  background-color: var(--trainer-color-1);
}

.trainer h2{
  text-align: center;
  margin-bottom: 0;
}

.inputLabel{
  font-size: 24px;
}

.inputText[name = "idade"]{
  width: 90px;
  margin-left: 25px;
}

.inputSelect{
  font-size: 24px;
  margin-left: 20px;
  padding: 10px 5px;
  border-radius: 10px;
}

.inputSelect:focus{
  outline: none;
}

/* Pokemon Add */

.modalBodyAddPokemon{
  padding: 10px;
  margin: 20px;

  gap:20px;
  width: 600px;
}

.inputPokemonNameFields{
  align-content: center;
  align-items: center;
}

.pokemonNameInput{
  margin-bottom: 10px;
  margin-left: 10px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid var(--cinza-escuro-darkTheme);
  padding: 0 20px;

  font-size: 28px;
}

.inputPokemonNameFields .buttonDefaultSmall{
  height: 35px;
  margin-left: 10px;
  position: relative;
  top: -3px;
  line-height: 5px;

  font-size: 20px;  
}

.pokemonSelect{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pokemonSelectList{
  width: 45%;
}

.pokemonSelectList ul{
  padding-inline-start: 0;
  margin: 0;
}

.pokemonSelectList li{
  list-style-type: none;
  list-style: none;
  padding-inline-start: 0;

  background-color: #F0f0f0;
  border-radius: 5px;
  padding: 5px 20px;
  margin: 6px 0;

  font-size: 13px;
  font-weight: 600;
  text-align: left;
  text-transform: capitalize;

  cursor: pointer;
}

.passPokemonpage{
  border: none;
  border-radius: 10px;
  background: #F0F0F0;
  font-weight: 600;
  font-family: 'Lato', sans-serif;

  padding: 5px 20px;
  margin: 0 5px;

  cursor: pointer;
}

.pokemonSelectImageField{
  background-color: #F3F3F3;
  border: 2px solid #696969;
  border-radius: 10px;
  margin-top: 8px;

  width: 45%;
}

.pokemonSelectImage{
  width: 100%;
  height: 250px;
  margin: 0 auto;
  padding-top: 60px;
}

.pokemonSelectImageField p{
  margin: 0;
}

.pokemonName{
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 700;
}

.pokemonTypes{
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  margin: 2px 25% 0;
}

.pokemonTypes p{
  text-transform: capitalize;
}

/* Mudança de Background */

.roxoVermelho{
  background: var(--gradiente-roxo-vermelho);
}

.azulVerde{
  background: var(--gradiente-azul-verde);
}

.adrian{
  background: var(--gradiente-musgo-amarelo-adrian);
}

/* mostragem de pop ups */
.AtivarDisplay{
  display: flex;
}

.DesativarDisplay{
  display: none;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
