.layout {
    max-width: 90%;
    max-height: 90%;
    margin: 5% 5%;

    /* Código para uma versão com mochila e coleta de pokemons
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.2fr 0.8fr;
    grid-auto-rows: 1fr;
    gap: 40px 40px;
    grid-auto-flow: row;
    grid-template-areas:
      "trainer pokemons pokemons"
      "trainer mochila mochila"; */

    display: grid; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 0.6fr 1.4fr; 
    grid-template-rows: 2.2fr; 
    gap: 0px 40px; 
    grid-template-areas: 
        "trainer pokemons";
}
  
.trainer { 
    grid-area: trainer; 
    /* width: 24vw; */
    height: 85vh;
    border-radius: 30px;

    background: white;
    box-shadow: 0 0 0 6px #171717, inset 0px 0px 0px 8px var(--trainer-color-1);

    padding: 30px;
}

.actTrainerButtons{
    display: flex;
    justify-content: space-around;
    margin-top: -20px;
}

.actTrainerButtons button{
    background: none;
    border: none;
    color: #29516E;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
}

.trainerDataImage{
    margin-bottom: 10px;
    text-transform: capitalize;
}

.trainerData{
    text-align: center;
    padding: 10px;
}

.trainerData h3{
    margin: 0;
    color: #060904;
    font-size: 20px;
    text-transform: capitalize;
}

.trainerData p{
    margin-top: 0;
    color: #3D3E3D;
    text-transform: capitalize;
}

.regionAge{
    display: flex;
    padding: 0 30px 0 0px;
    justify-content: space-around;
}

.data p{
    margin-bottom: 10px;
    text-align: justify;
}

.data h3{
    margin-left: 40px;
    margin-top: 0;
}

.data h4{
    margin-bottom: 10px;
    text-align: left;
}

.data .bio{
    font-size: 14px;
    color: #3D3E3D;
    width: 20vw;
    overflow-wrap: break-word;
}

/* Pokemons */
  
.pokemons { 
    grid-area: pokemons; 
    height: 100%;
    border-radius: 30px;

    background: white;
    box-shadow: 0 0 0 6px #171717, inset 0px 0px 0px 8px var(--pokemon-color-1);

    padding: 30px 20px;
}

.actPokemonButtons{
    margin-top: -30px;
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.actPokemonButtons .actPokemonCategoryIcon{
    background: none;
    border: none;
    width: fit-content;

    cursor: pointer;
}

.actPokemonButtons .actPokemonCategoryIcon:focus{
    width: 60px;
    height: 60px;
}

.addPokemonButton{
    display: flex;
    margin-left: auto;

    background: none;
    border: none;
    gap: 0px;

    font-size: 20px;
    align-items: center;
    cursor: pointer;
}

.actPokemonListIcon{
    margin: 0 0 0 0;
}

.pokemonList{
    display: flex;
    flex-wrap: wrap;
    /* max-width: 625px; */
    max-height: 100%;

    justify-content: left;

    margin-top: -10px;

    overflow-y: scroll;
}

.pokemonList::-webkit-scrollbar{
    width: 10px;
    background: none;
}

.pokemonList::-webkit-scrollbar-thumb{
    background: var(--pokemon-color-2);
    border-radius: 10px;
}

.pokemonListCleanFilter{
    position: fixed;
    top: 86%;
    left: 37%;

    background: none;
    border: none;
    color: #29516E;
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
}

.pokemonListCleanFilter:hover{
    font-weight: 700;
}

/* Mochila */
  
.mochila { 
    grid-area: mochila; 
    width: 100%;
    height: 100%;
    border-radius: 30px;

    background: white;
    box-shadow: 0 0 0 6px #171717, inset 0px 0px 0px 8px var(--backpack-color-1);

    padding: 30px;
}

.topDetailContainer{
    position: relative;
    height: 14.5px;
    top: -49px;
    overflow: hidden;
}

.topDetail{
    position: relative;
    bottom: -6px;
    width: 40%;
    height: 30px;
    margin: 0 auto;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 0 0 6px #171717;
}

.actBackpackButtons{
    margin-top: -30px;
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.actBackpackButtons .actBackpackCategoryIcon{
    background: none;
    border: none;
    width: fit-content;
}

.actBackpackButtons .actBackpackCategoryIcon:focus{
    width: 60px;
    height: 60px;
}

.addItemButton{
    display: flex;
    margin-left: auto;

    background: none;
    border: none;
    gap: 5px;

    font-size: 20px;
    align-items: center;
}

.itemList{
    overflow-y: scroll;
    height: 80%;
}

.itemList .actItemListIcon{
    background: none;
    border: none;
    font-family: 'Lato', sans-serif;
}

.actItemListIcon p{
    font-size: 16px;
    font-weight: 700;
    margin: 2px 0;
}

.actItemListIcon .itemTypes{
    background: #b4b4b4;
    border-radius: 30px;
    width: fit-content;

    padding: 2px 10px;
    margin: 4px auto;
}

.actItemListIcon .itemTypes p{
    font-size: 12px;
}

/* Auxiliares */

.ModalPopUp{
    border-radius: 30px;

    background: white;
    box-shadow: 0 0 0 6px #171717, inset 0px 0px 0px 8px var(--trainer-color-1);

    padding: 30px;
    width: max-content;
    left: 27%;

    top: 10% !important; 
}

.ModalPopUp .topDetailContainer{
    position: relative;
    top: -40px;
}

@media only screen and (min-width: 1400px) {
    .data .bio{
        font-size: 16px;
    }
}

@media only screen and (min-width: 1600px) {
    .data .bio{
        font-size: 18px;
    }
}